*.jar
*.class
*.zip
*.iml
.idea
.classpath
.project
.settings
.gradle

after/build
after-tools/build
after/external/test-subjects

# these contain BYOND stdlib stuff
research-projects/*.dmb
research-projects/*.lk
research-projects/*.int
# clutters the repo
research-projects/*.sav
# not sure what to do with these, and it's not like they're hard to get
protocol/*.dump.txt

